doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
  body
    div
      ul
        li
          a(href="/") Home
        li
          a(href="/users") Users
        li
          a(href="/category") Categories
    block content
