extends layout

block content
    div.row
        div.col-10
            h1.mb-2= data['title']
            div= data.description
        div.col-2
            img.img-fluid(src=`/images/cat/${data.image}`)